<% title 'Edit assignment' %>

<%= form_for(@task) do |f| %>
  
  <ul class='edit rounded'>
    <li>
      <%= @task.assignment.description %>
    </li>
    <li>
        <%= f.check_box :completed %>&nbsp;Completed</li> 
    </li>
  </ul>

  <div style='margin: 0px 12px 0px 12px;'>
    <%= link_to "Update", nil, :class => "whiteButton submit" %>      
  </div>
  
<% end %>
