<% title 'Edit assignment' %>

<%= form_for(@task) do |f| %>
  
  
  <ul class='edit rounded'>
    <li>
      <%= @task.assignment.description %>
    </li>
    <li>
      Completed?
      <span class=toggle>
        <%= f.check_box :mark_as_completed %> 
      </span>     
    </li>
  </ul>

<% end %>
