<table id=cal>
  <tr id=day-names>
    <td>Sun.</td>
    <td>Mon.</td>
    <td>Tue.</td>
    <td>Wed.</td>
    <td>Thu.</td>
    <td>Fri.</td>
    <td>Sat.</td>
  </tr>
  <% (0..3).each do |week| %>
    <tr>
      <% (0..6).each do |day| %>
        <% index = week*7 + day %>
        <td class=cal-day>
          <span class=date-num>
            <%= @shown_assignments[index].date %>
          </span>
          <% @shown_assignments[index].assignment_lst.each do |a| %>
            <%= a.description%>
            <br/>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
