<table id=cal>
  <tr id=day-names>
    <td>Sun.</td>
    <td>Mon.</td>
    <td>Tue.</td>
    <td>Wed.</td>
    <td>Thu.</td>
    <td>Fri.</td>
    <td>Sat.</td>
  </tr>
  <% (0..3).each do |week| %>
    <tr>
      <% (0..6).each do |day| %>
        <td class=cal-day>
          <span class=date-num>
            <%= (week*7 + day + @start_day - 1) % @days_month + 1 %>
          </span>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
