<div id=course-lst>
  <div id=course-lst-header>
    <span id=course-lst-label>
      Courses
    </span>
  </div>
  <div id=course-lst-body>
    <% @courses.each do |course| %>
      <%= course.name %>
      <br>
    <% end %>
	  <%= link_to 'Add class', new_course_path, :id => 'new-course-link', :class => 'popup' %>
  </div>
</div>

<%= javascript_tag do %>
<% end %>
