<div id=course-lst>
  <div id=course-lst-header>
    <span id=course-lst-label>
      Courses
    </span>
  </div>
  <div id=course-lst-body>
    <ul>
    <% current_user.courses.each do |course| %>
      <li><%= course.long_name %></li>
    <% end %>
    </ul>
    <%= link_to 'Create a new class', new_course_path, :id => 'new-course-link', :class => 'popup' %>
    <br/>
    <%= link_to 'Subscribe to an existing class', new_user_subscription_path(current_user), :id => 'new-course-link', :class => 'popup' %>
  </div>
</div>

<%= javascript_tag do %>
<% end %>
