<% if user.messages.any? %>
  <h2>New messages</h2>
<% end %>

<% user.messages.each do |message| %>
  <%# TODO: style using css %>
  <div style='border:1px solid black;'>
    <%= message.content %>
    <%= form_tag( add_or_dismiss_message_path(message), :method => :post ) do %>
      <%= submit_tag 'Add', :value => 'add' %>
      <%= submit_tag 'Dismiss', :value => 'dismiss' %>
    <% end %>
  </div>
<% end %>
