<p>Available classes</p>

<%= form_tag( user_subscriptions_path(@user), :method => :post ) do %>
<%= 
  select_tag( 
    :course_id, 
    options_from_collection_for_select(
      @unsubscribed_courses, 
      'id', 
      'name', 
      @default_course
    ),
    :class => 'dialog-wide'
  ) 
%>

<div class=button-wrapper>
<%= submit_tag 'Subscribe', :class => 'btn btn-inverse' %>
</div>

<% end %>