/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html {
  height:100%;
}

#header {
  background-image:-webkit-linear-gradient(top, #3E3E3E, black);
  box-shadow: 0 0 24px 2px black;
  color: #e1e1db;
  height:50px;
  width:100%;
}

#header-content {
  padding-top:12px;
}

#logo {
  float:left;
  font-size:30pt;
}

#header-right {
  float:right;
  font-size:20pt;
}

#content-container {
  height:100%;
  padding-top:15px;
}
