#sidebar {
  float: right;
  position: relative;
  width: 30%;
  height: 667px;
  padding: 2px 0;
  overflow: hidden;
}

.sidebar-header {
  background-color:#e1e1db;
  font-size:24pt;
  height:37px;
  margin-bottom:2px;
  text-align:center;
}

.sidebar-header span {
  line-height:37px;
}

.sidebar-body {
  background-color: #e1e1db;
  padding: 5px 5px 10px 5px;
  margin-bottom:2px;  
}

.course-lst-itm {
  border-color:transparent;
  border-style:solid;
  border-width:2px;
  cursor:pointer;
  cursor:pointer;
  -webkit-transition:border linear 0.1s, box-shadow linear 0.1s;
}

.sidebar-body ul li:hover {
/*  border-color:rgba(139, 185, 220, 0.882813);
  -webkit-box-shadow:0 0 8px rgba(82, 168, 236, 0.6); */
}

#sidebar a:visited {
  color:black;
}

#sidebar a:hover {
  background-color:transparent;
  color:black;
}

#cal-container {
  float:left;
  width:70%;
}

#cal {
  border-collapse:separate;
  border-spacing:2px;
  margin-bottom:2px;
  width:100%;
}

#day-names {
  text-align:center;
}

#day-names td {
  cursor:default;
  height:35px;
  /*font-size:24pt;*/
}

.cal-day {
  border-color:#e1e1db;
  border-style:solid;
  border-width:2px;
  cursor:pointer;
  height:150px;
  -webkit-transition:border linear 0.1s, box-shadow linear 0.1s;
  vertical-align:top;
  width:90px;
}

.cal-week td:hover {
  border-color:rgba(139, 185, 220, 0.882813);
  -webkit-box-shadow:0 0 8px rgba(82, 168, 236, 0.6);
}

#cal tr {
  background-color:#e1e1db;
}

.date-num {
  display:block;
  padding-left:3px;
}

#sidebar li {
  border-radius:7px;
  display:block;
  margin:4px;
  padding-left:5px;
}

#sidebar ul {
  margin-left:0;
}

.cal-assignment {
  border-color:transparent;
  border-style:solid;
  border-radius:8px;
  border-width:2px;
  margin:0 3px 5px 3px;
  padding:1px 4px;
  -webkit-transition:border linear 0.1s, box-shadow linear 0.1s, background-color linear 0.1s;
  /*text-indent: -10px;
  padding-left: 12px;*/
}

.cal-unfinished-assignment:hover {
  border-color:red;
  -webkit-box-shadow:0 0 8px rgba(255, 0, 0, 0.6);
  color:red;
  text-decoration:line-through;
}

.cal-completed-assignment {
  color:black;
  text-decoration:line-through;
}

#cal-buttons {
  float:left;
  margin-bottom:5px;
  width:100%;
}

#cal-prev, #cal-next {
  background-color:transparent;
  color:#E1E1DB;
  text-decoration:none;
}

#cal-prev:hover, #cal-next:hover {
  text-decoration:underline
}

#cal-prev {
  float:left;
}

#cal-next {
  float:right;
}
