#modal-dialog .inlineError {
  color: red;
  display: block;
  font-size: 9pt;
}

.haag-field-with-errors {
  border: 2px solid red;
  background-color: #fdd;
}

#modal-dialog input[type="submit"] {
  display: block;
  margin : 0 auto;
  text-align: center;  
}
