#modal-dialog .inlineError {
  color: red;
  display: block;
  font-size: 9pt;
}

.haag-field-with-errors {
  border: 2px solid red;
  background-color: #fdd;
}

#modal-dialog input[type="submit"] {
  display: block;
  margin : 0 auto;
  text-align: center;  
}

#modal-dialog form table {
  width: 90%;
  width: 90%;
}


#modal-dialog form table {
  tbody tr td:first-child {
    font-weight: bold;
    padding-right: 12px;
  }
}