body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }





$font-light-color: white;
$page-background-color: #fafafa;
$content-background-color: white;
$content-font-color: #555;
$content-border-color: #d4d3d1;
$tabs-darker-font-color: #4f4f4f;
$tabs-lighter-font-color: #888;
$fancybox-border-color: #2b3573;
$fancybox-lighter-background: #262f68;
$fancybox-darker-background: #1b2256;
$fancybox-min-height: 24px;

table {
  border-collapse: collapse;
  margin-bottom: 18px;
}

@mixin dark-header-row {
  border: 1px solid $content-font-color;
  padding: 2px 12px 2px 12px;
  background-color: #444;
  color: $font-light-color;
  white-space: nowrap;
}

@mixin yellow-data-row {
  border: 1px solid #ccc;
  padding: 2px 12px 2px 12px;
  background-color: #fffff0;
  white-space: nowrap;
}

.index {
  table { margin-bottom: 12px; }
  th { @include dark-header-row; }
  td { @include yellow-data-row; }
  td:first-child { text-align: left; }
}

.show {
  table { margin-bottom: 12px; }
  td { padding: 1px 12px 1px 12px; }
}

.form {
  margin-bottom: 12px;
  td { padding: 2px 24px 2px 0px }
  td.top { vertical-align: top;}
  textarea { 
    height: 70px; 
    width: 300px;
  }
  textarea.small-textarea {
    height: 35px;
    width: 200px;
  }
}
