<form accept-charset='UTF-8' action='/create_assignment_by_date' method='post'>
  <div class='field'>
    <input id='random' name='assignment[random]'>
  </div>
  <div class='actions'>
    <input name='commit' type='submit' value='Create Assignment'>
  </div>
</form>

