<%= nested_form_for @list do |f| %>
  <%#= f.error_messages %>
  <%= f.fields_for :assignments %>

  <div class=button-wrapper>
    <%= f.link_to_add "Keep adding", 
      :assignments, 
      :type => 'button', 
      :class => 'btn btn-inverse link-button'      
    %>
    <%= f.submit "Save assignments", :class => ' btn-inverse' %>
  </div>
<% end %>
