<%= nested_form_for @list do |f| %>
  <%#= f.error_messages %>
  <% @include_delete = false %>
  <%= f.fields_for :assignments %>
  <% @include_delete = true %>

  <div class=button-wrapper style='padding-top:1px;'>
    <%= f.link_to_add "Keep adding", 
      :assignments, 
      :type => 'button', 
      :class => 'btn btn-inverse link-button'      
    %>
    <%= f.submit "Save assignments", :class => ' btn-inverse' %>
  </div>
<% end %>
