<% content_for(:title) { "Assignments" } %>

<ul>
  <% for task in @user.tasks %>
  <li class="arrow">
    <%= link_to h(task.assignment.description), edit_task_path(task) %>
    <small class=counter style='margin-right:20px;'><%= task.assignment.due_at.strftime('%-m/%-d') %></small>
  </li>
  <% end %>
</ul>