<% title 'Assignments' %>

<ul data-role="listview" data-inset="true">
  <% for task in @user.tasks %>

    <% if task.completed? %>
      <li style="text-decoration: line-through;" >
    <% else %>
      <li>
    <% end %>

    <%= link_to h(task.assignment.description), edit_task_path(task), 'rel' => 'external', :onclick => 'console.log("yeah, babe");' %>
    <span class="ui-li-count"><%= task.assignment.due_at.strftime('%-m/%-d') %></span>
    
  </li>
  <% end %>
</ul>
